/*-- scss:defaults --*/
// Importar Fira Code desde Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');


// Dark Theme Colors

$white:    #fff !default;
$gray-100: #212529 !default; // Darker for background
$gray-200: #343a40 !default; // Darker for elements
$gray-300: #495057 !default;
$gray-400: #6c757d !default; // Lighter gray for borders or less important elements
$gray-500: #adb5bd !default; // Mid gray for secondary text
$gray-600: #ced4da !default; // Lighter for placeholder text or disabled
$gray-700: #dee2e6 !default; // Almost white, very light gray for background elements
$gray-800: #e9ecef !default;
$gray-900: #f8f9fa !default; // Nearly white, used for card backgrounds or similar
$black:    #000 !default;

$blue:    #eb6864 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #f57a00 !default;
$orange:  #fd7e14 !default;
$yellow:  #f5e625 !default;
$green:   #22b24c !default;
$teal:    #20c997 !default;
$cyan:    #369000 !default;

$primary:       $blue !default;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-700 !default; // Much darker than in the light theme
$dark:          $gray-100 !default; // Lighter than in the light theme

$min-contrast-ratio:   1.28 !default;

// Fonts
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !default;
$font-size-root: 16px !default;
$headings-font-weight: 700 !default;
$headings-line-height: 1.1 !default;

// Navbar
$navbar-light-color: rgba($white, .7) !default; // Adjusted for dark theme
$navbar-light-hover-color: $white !default;
$navbar-light-active-color: $white !default;

$navbar-bg: $gray-800 !default; // Dark background
$navbar-fg: $white !default;

// Pagination
$pagination-hover-color: $white !default;
$pagination-hover-bg: $primary !default;
$pagination-hover-border-color: $primary !default;

/* Adjustments for dark theme colors */
body {
  background-color: $gray-900; // Lightest gray for dark theme background
  color: $white; // White text for readability
}

a {
  color: $white;
  text-decoration-color: $primary; // Use primary color for links
}

.bg-dark { background-color: $gray-900 !important; } // Dark background

.navbar, .btn, blockquote > pre, .figure-caption, h1, h2, h3, h4, code {
  color: $white; // Ensuring text is readable in dark theme
}

// Further adjustments as needed to align with the dark theme aesthetics


/*-- scss:rules --*/

// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

// Typography

body {
  -webkit-font-smoothing: antialiased;
  color: black;
}

div.quarto-post a {
  color: inherit;
}

a {
  color: inherit;
  text-decoration-color: $blue;
  // text-decoration-thickness: 2px;
  // text-underline-offset: 0.0625em;
  transition: color .2s;
}



.sidebar-menu-container {
  a {
    // Estilo por defecto para los enlaces dentro de .sidebar-menu-container
    
    &:hover {
        color: $black;
         text-decoration: underline;
    }
  }
}

.navbar {
  font-size: 18px;
}

div.sidebar-item-container .active, div.sidebar-item-container .show>.nav-link, div.sidebar-item-container .sidebar-link>code {
  font-weight: 700;
  color: $gray-100;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
color: $gray-100;
font-weight: 700;
}

.navbar .nav-link {
  // Estilos generales para los enlaces dentro de la navbar, si los hay
  
  &:hover {
    color: #fce762; // Color al pasar el ratón por encima
  }

  &.active {
    font-weight: bold; // Texto en negrita para ítem activo
    color: #fce762; // Color para ítem activo
  }
}

.sidebar a{
    font-size: 16px;
}

a sup {
  color: $blue;
}

// Navbar

.bg-dark { background-color: $black !important; }

.bg-light {
  background-color: $white !important;
  color: $black;
  border: 1px solid $gray-200;
  &.navbar-fixed-top { border-width: 0 0 1px; }
  &.navbar-fixed-bottom { border-width: 1px 0 0; }
}

.navbar { font-family: $headings-font-family; }

.navbar-brand {
  padding-top: .5rem;
  font-size: inherit;
  font-weight: $headings-font-weight;
}

// Buttons

.btn {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;

  &-secondary,
  &-warning { color: $white; }
}

// Listing

div.quarto-post .thumbnail img { border-radius: .25rem; }

// Navs

.pagination { a:hover { text-decoration: none; } }
.quarto-figure-center > figure > figcaption { text-align: center; }
.twitter-tweet { margin: auto; }
.description { font-size: 18px; }
.quarto-title-meta { font-size: 14px; }
.quarto-title .quarto-categories .quarto-category { font-size: 10px; }
#title-block-header { margin-block-end: 3rem; }
.quarto-listing-default { margin-top: 2em; }

// Code cells & outputs

.cell {
  margin-bottom: 1rem;
}
.cell > .sourceCode { margin-top: 0; margin-bottom: 0; }
.cell-output > pre { margin-bottom: 0; }

.cell-output > pre, .cell-output > .sourceCode > pre, .cell-output-stdout > pre {
  margin-left: 0.8rem;
  margin-top: 0;
  background: #efefef;
  border-radius: 0;
}

.cell-output > .sourceCode {
  border: none;
}

.cell-output > .sourceCode {
  background: none;
  margin-top: 0;
}

details div.sourceCode {
  background-color:white ;
  border: none;
}

div.sourceCode {
  background-color:#F5F7F8 ;
  border: none;
}

/* show_doc signature */
blockquote > pre {
  font-size: 14px;
}

.table {
  font-size: 16px;
  /* disable striped tables */
  --bs-table-striped-bg: var(--bs-table-bg);
}

.quarto-figure-center > figure > figcaption {
  text-align: center;
}

.figure-caption {
  font-size: 75%;
  font-style: italic;
}

// Text

h1 {
  margin-bottom: 1rem;
  font-size: 42px;
  font-weight: bold;
  color:#45474B;
}

h1, .h1, h2, .h2 {
  margin: 0;
  color:#45474B;
}

#title-block-header.quarto-title-block.default .description, #title-block-header.quarto-title-block.default .abstract {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// Aplicar Fira Code a elementos <pre>
.sourceCode {
  font-family: 'Fira Code', monospace;
  font-size: 16px;
}

.title h2 {
    font-size: 1.8rem;
    line-height: 1.75rem;
    text-transform: uppercase;
    letter-spacing: .01em;
    margin-bottom: 25px;
}

@media (max-width: 991.98px) {
  #quarto-content section:first-of-type h2:first-of-type, #quarto-content section:first-of-type .h2:first-of-type {
    margin-top: 2rem;
  }
}

h2 img { display: none; }

h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  margin-bottom: 1em;
}

kbd { padding: 0.1rem; }

nav ul li img, p img { border-radius: 0.25rem; }

// main ol ol, main ul ul, main ol ul, main ul ol { margin-top: 0; margin-bottom: 0; }

$colors: ("blue": $blue,
          "indigo": $indigo,
          "purple": $purple,
          "pink": $pink,
          "red": $red,
          "orange": $orange,
          "yellow": $yellow,
          "green": $green,
          "teal": $teal,
          "cyan": $cyan);
@each $k, $v in $colors {
  .hl-#{$k} {
    background-color: #{$v}7F; // 7F = 50% opacity, via https://stackoverflow.com/a/8254129
    border-radius: 0.25rem;
    padding: 2px 0;
  }
}
// Useful to visualise in Quarto:
// [blue]{.hl-blue}<br>
// [indigo]{.hl-indigo}<br>
// [purple]{.hl-purple}<br>
// [pink]{.hl-pink}<br>
// [red]{.hl-red}<br>
// [orange]{.hl-orange}<br>
// [yellow]{.hl-yellow}<br>
// [green]{.hl-green}<br>
// [teal]{.hl-teal}<br>
// [cyan]{.hl-cyan}<br>

// Other

.me {
  text-align: center;
}

.me img {
  max-width: 200px;
}

@media(min-width:640px) {
  .me {
    float: right;
    padding-left: 20px;
  }
}



// Make listings metadata fit content
div.quarto-post .metadata {
  flex-basis: auto;
}

details>summary {
  color: #000000;
  font-weight: bold;
  font-size: 14pt;
}

.qwebr-editor-toolbar {
  background-color: #F4EDCC !important;
  padding: 0.2rem 0.5rem;
}

.qwebr-button{
  background-color: #5cb85c !important;
  color:white !important;
  
}

.qwebr-icon-run-code {
color: white !important;
}

.qwebr-button-copy {
color: #696969;
margin-left: 5px !important;
}

pre {
    margin-top: 20px;
}

iframe {
 margin-bottom: 0em !important;
}



code{
  color:#FF3EA5;
}

p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
    background-color: #efefef !important;
    padding: .2em;
}


.cell-output>pre, .cell-output>.sourceCode>pre, .cell-output-stdout>pre {
  
margin-left: 0rem;
margin-top: 15px;
background: none;
}

.qwebr-interactive-area{
  margin-top: 20px;
}

.slide-deck {
  border: 3px solid #dee2e6;
  width: 100%;
  height: 500px;
}



.discussion {
  margin-left: 42px;
  margin-bottom: 25px;
  border: none;
  background-color: #F5F7F8;

}

.discussion .callout-square {
    background: #fce762;
        width: 50px;
    height: 50px;
    color: #fff;
    background-image: url("img/thunder_black.png");
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat;
    background-size: 70%;
}


.callout-square {
    float: left;
    position: relative;
    left: -43px;
}

.callout-square img.img-fluid {
    max-width: 55%;
    padding: 2px;
    padding-top: 10px;
    display: block; 
    margin: auto; 
}

.callout-square {
    margin-left: 0px;
    width: 45px;
    height: 45px;
    color: #fff;
    margin-right: -15px;
}

.callout-content {
    border-left: 10px solid #fce762 !important;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;

}


.details-content {
    margin-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}
.callout-title {
    border-left: 10px solid #fce762 !important;
    position: relative;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin: 0px 0px -20px 0px;
    padding: 20px 0px 20px 0px;
    text-decoration: underline;
    text-underline-offset: 6px;
}

details {
  
  background-color: #F5F7F8;
}



details>summary {
    font-size: 1.25rem !important;
    font-weight: 400;
    color: #000;
    background: #fce762;
    padding-left: 12px !important;
    padding-top: 5px;
    padding-bottom: 5px;
}


details div.cell-output {
    background-color: white;
    margin-top: 10px;
    padding-top: 2px;
    border: none !important;
}


.keypoints{
  margin-left: 42px;
  margin-bottom: 25px;
  border: none;
  background-color: #F5F7F8;

}

.keypoints .callout-square {
    width: 50px;
    height: 50px;
    color: #fff;
    background: #BFDCE5;
    background-image: url("img/check-list.png");
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat;
    background-size: 70%;
}


.keypoints .callout-title {
    border-left: 10px solid #BFDCE5 !important;
    position: relative;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin: 0px 0px -20px 0px;
    padding: 20px 0px 20px 0px;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.keypoints .callout-content {
    border-left: 10px solid #BFDCE5 !important;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;

}

.overview-title {
  text-transform: uppercase;
color: #fff;
background: #3D3B40;
border-radius: 0px;
border: none;
height: 53px;
padding-top: 10px;
padding-left: 25px;
font-size: min(1.5rem,1.25rem + .2vw);
letter-spacing: .1em;
font-weight: 400;
}

.overview h3{
text-decoration: underline;
text-decoration-thickness: 1px;
text-underline-offset: 25px;
margin-bottom: 50px;
font-size: min(1.5rem,1.25rem + .25vw);
font-weight: 600;
line-height: 1.5rem;
}

.overview-content{
  background-color: #F5F7F8;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}

.overview{
  margin-top: 20px;
  margin-bottom: 20px;
}

.overview-content .columns .column:last-child:after {
    content: ""; /* Necesario para que el pseudo-elemento se genere */
    display: block;
    position: absolute;
    left: 0; /* Alinea el pseudo-elemento al lado izquierdo del .column */
    top: 10%; /* Ajusta este valor para controlar dónde comienza el borde */
    bottom: 10%; /* Ajusta este valor para controlar dónde termina el borde */
    width: 1px; /* El grosor del "borde" */
    background-color: #393646; /* El color del "borde" */
}

.overview-content .columns .column:last-child {
    position: relative; /* Necesario para posicionar correctamente el pseudo-elemento */
    padding-left: 20px;
}

.overview-content .columns {
    display: flex;
    flex-direction: row; /* Alineación horizontal por defecto */
}
/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    .overview-content .columns {
        flex-direction: column; /* Cambia la dirección de las columnas a vertical */
    }
    .overview-content .columns .column:last-child:after {
        display: none; /* Oculta el pseudo-elemento en dispositivos móviles */
    }
    
    .overview-content .columns .column:nth-child(2) {
        padding-left: 0; 
    }
    
    .overview-title {
       text-transform: uppercase;
       color: #fff;
       background: #3D3B40;
       border-radius: 0px;
       border: none;
       height: 53px;
       padding-top: 15px;
       padding-left: 25px;
       font-size: min(1.1rem,1.25rem + .2vw);
       letter-spacing: .1em;
       font-weight: 400;
   }
   
   .overview-content{
       background-color: #F5F7F8;
       padding-left: 20px;
    }
   
}